version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      # .env 파일에서 값을 읽어옵니다 (${변수명})
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"

  app:
    build: .
    restart: always
    ports:
      # JCloud 외부 포트:내부 포트
      - "8080:8080"
    # env_file을 쓰면 .env의 모든 내용을 컨테이너 안으로 주입합니다.
    env_file:
      - .env
    volumes:
      # 파이어베이스 키 파일만 컨테이너로 쏙 넣어줌 (보안)
      - ./firebase_key.json:/app/firebase_key.json
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

volumes:
  db_data: